/* Resetting default margin and padding */
body,
h1,
h2,
p,
.button {
    margin: 0;
    padding: 0;
}

/* Setting box-sizing to border-box for easier layout */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Roboto", sans-serif; /* Change font to Roboto */
    font-optical-sizing: auto;
    font-weight: 700;
}

/* Header styles */
.main-header {
    background-color: rgba(0, 0, 0, .3);
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: "Bodoni Moda";
    font-weight: normal;
    color: #3B343C;
    text-shadow: 
        1px 1px  1px #919191,
        1px 2px  1px #919191,
        1px 3px  1px #919191,
        1px 4px  1px #919191,
        1px 5px  1px #919191,
        1px 6px  1px #919191,
        1px 7px  1px #919191,
        1px 8px  1px #919191,
        1px 9px  1px #919191,
        1px 10px 1px #919191;
}

/* Container for search bar and category selector */
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* Search bar styles */
.search-bar {
    flex: 1; /* Take up remaining space */
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Make the search input full-width */
}

/* Category selector styles */
.category-selector select {
    padding: 10px;
    border: 1px solid black; /* Add black border */
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 100%; /* Make the select element full-width */
}

/* Card container styles */
#card-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-between; /* Distribute items evenly */
    margin: 20px;
}

.card {
    width: 23%; /* Set width for four cards in a row */
    border: 1px solid black; /* Add black border */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.card-content {
    padding: 20px;
    font-family: "Roboto", sans-serif; /* Change font to Roboto */
    color: #000000;
    font-size: xx-large;
}

.card-content h2 {
    margin-top: 0;
    font-size: 30px;
}

.card img {
    width: 100%;
    height: auto;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
    border: 1px solid black; /* Add black border */
}

/* Button styles */
button {
    text-align: center;
    background-color: #3B343C;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}

.hidden {
    display: none;
}

.price-selector select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    margin-right: 10px; /* Add margin to separate it from the category selector */
}

.toggle-description-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-description-btn:hover {
    background-color: #0056b3;
}

/* Media queries for responsive design */
@media screen and (max-width: 1000px) {
    .card {
        width: 48%; /* Set width for two cards in a row on smaller screens */
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 100%; /* Set width to 100% for smaller screens */
    }
}
